@model IEnumerable<DB_lab2.Problem>

@{
    var Contest = ViewData["Contest"] as DB_lab2.Contest;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Query3</title>
</head>
<body>
<form method="get" class="mb-3">
    <div class="row">
        <div class="col">
            <select name="ContestId" class ="form-control" asp-items="ViewBag.ContestId"></select>
        </div>
        <div class="col-auto">
            <input type="submit" class="btn btn-success" value="Пошук"/>
        </div>
    </div>
</form>
@if(Contest == null)
{
    <p>
        Оберіть змагання, для якого хочете побачити список розв'язаних задач
    </p>
}
@if(Model != null && Model.Count() > 0)
{
    <p>
        Нижче наведено список розв'язаних задач на змаганні "@Contest.Name", яке має ідентифікатор @Contest.ContestId
    </p>
    <table class="table table-bordered">
    <thead class="thead-dark">
        <tr class="table-dark">
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DifficultyLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editorial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if(item.Description.ToString().Length > 50)
            {
                <td>
                    @(item.Description.ToString().Substring(0, 50)+"...")
                </td>
            } else
            {
                <td>
                    @item.Description.ToString()
                </td>
            }
            
            <td>
                @Html.DisplayFor(modelItem => item.DifficultyLevel)
            </td>
                @if(item.Editorial != null)
                {
                    <td>
                        +
                    </td>
                } else
                {
                    <td>
                        -
                    </td>
                }
            <td>
                @Html.DisplayFor(modelItem => item.TestFile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByNavigation.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProblemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProblemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProblemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
} else
@if(Contest != null && Model.Count() == 0)
{
    <h5>
        На цьому змаганні відсутні розв'язані задачі.
    </h5>
}
</body>
</html>
