@model IEnumerable<DB_lab2.User>

@{
    var User = ViewData["User"] as DB_lab2.User;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Query4</title>
</head>
<body>
<form method="get" class="mb-3">
    <div class="row">
        <div class="col">
            <select name="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
        </div>
        <div class="col-auto">
            <input type="submit" class="btn btn-success" value="Пошук"/>
        </div>
    </div>
</form>
@if(User == null)
{
    <p>
        Оберіть користувача, щоби отримати список користувачів, які є у тих і тільки тих групах, що й цей користувач
    </p>
}
@if(Model != null && Model.Count() > 0)
{
    <p>
        Нижче наведено список користувачів, які є у тих і тільки тих групах, що й користувач "@User.Login", який має ідентифікатор @User.UserId
    </p>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr class="table-dark">
                <th>
                    @Html.DisplayNameFor(model => model.Login)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PasswordHash)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordHash)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
            </tr>
    }
        </tbody>
    </table>
} else
@if(User != null && Model.Count() == 0)
{
    <h5>
        Таких користувачів не існує.
    </h5>
}
</body>
</html>
